<div class="container">
    <section class="jumbotron">
        <div class="left-side">
            <h2>Oferta për:</h2>
            <input type="text"
                   [formControl]="clientName"
                   class="form-control"
                   placeholder="Emri dhe Mbiemri" />
            <input type="text"
                   [formControl]="clientAddress"
                   class="form-control"
                   placeholder="Adresa" />
            <input type="text"
                   [formControl]="clientPhone"
                   class="form-control"
                   placeholder="Telefoni" />
        </div>
        <div class="right-side">
            <input type="text"
                   [formControl]="companyName"
                   class="form-control"
                   placeholder="Emri kompanisë" />
            <input type="text"
                   [formControl]="companyAddress"
                   class="form-control"
                   placeholder="Adresa" />
            <input type="text"
                   [formControl]="companyPhone"
                   class="form-control"
                   placeholder="Telefoni" />
            <p> {{ today | date: 'dd/MM/yyyy' }}</p>
        </div>
    </section>

    <form [formGroup]="invoiceForm">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Artikulli</th>
                    <th>Përshkrimi</th>
                    <th>Sasia</th>
                    <th>Çmimi</th>
                    <th>Gjithësej</th>
                    <th>Fshij</th>
                </tr>
            </thead>
            <tbody formArrayName="items">
                <tr *ngFor="let item of items.controls; let i = index"
                    [formGroupName]="i">
                    <td><input type="text"
                               formControlName="name"
                               class="form-control" /></td>
                    <td><input type="text"
                               formControlName="description"
                               class="form-control" /></td>
                    <td>
                        <div class="d-flex">
                            <input type="number"
                                   formControlName="qty"
                                   class="form-control" />
                            <select formControlName="unit"
                                    class="form-control">
                                <option value="pcs">pcs</option>
                                <option value="kg">kg</option>
                                <option value="m">m</option>
                                <option value="liter">liter</option>
                                <option value="m2">m²</option>
                            </select>
                        </div>
                    </td>
                    <td><input type="number"
                               formControlName="price"
                               class="form-control" /></td>
                    <td>{{ item.get('qty')?.value * item.get('price')?.value | number:'1.2-2' }} €</td>
                    <td><button type="button"
                                class="btn btn-danger"
                                (click)="removeItem(i)"> &times;</button></td>
                </tr>
                <tr>
                    <td><button type="button"
                                class="btn btn-primary"
                                (click)="addItem()">Shto Artikull</button></td>
                    <td></td>
                    <td></td>
                    <td>Total :</td>
                    <td>{{ getTotal() | number:'1.2-2' }} €</td>
                </tr>
            </tbody>
        </table>
    </form>
    <br>
    <div class="style-des-discount">
        <div>
            <span>Përshkrim</span><br>
            <textarea class="form-control"
                      rows="4"
                      [formControl]="summary">
</textarea>

        </div>
        <div class="discount-container">
            <table class="table-discount table-hover">
                <tbody>
                    <tr>
                        <td class="total-label">Zbritje (%) :</td>
                        <td>
                            <input type="number"
                                   min="0"
                                   max="100"
                                   [formControl]="discountForm"
                                   (input)="calculateTotalPrice()"
                                   class="form-control"
                                   placeholder="Enter discount %" />
                        </td>
                    </tr>
                    <tr>
                        <td class="total-label">Totali pas Zbritjes :</td>
                        <td>{{ totalPriceAfterDiscount }} €</td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>

    <div class="print-button">
        <button class="btn btn-primary"
                (click)="printInvoice()">Print</button>
    </div>
</div>